apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - pod-monitors.yaml
patches:
  - target:
      kind: LeaderWorkerSet
    patch: |-
      # We add the volume for different providers since the hostPath can be different.
      - op: replace
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/volumes/1
        value:
          name: hf-cache
          hostPath:
            path: /mnt/filesystem-x7/vllm-cache
            type: DirectoryOrCreate
      - op: replace
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/volumes/2
        value:
          name: jit-cache
          hostPath:
            path: /mnt/filesystem-x7/vllm-cache
            type: DirectoryOrCreate
