name: Markdown Link Check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  links:
    uses: llm-d/llm-d-infra/.github/workflows/reusable-md-link-check.yml@main
