name: Mark Stale Issues
on:
  schedule:
    - cron: '0 1 * * *'

jobs:
  stale:
    uses: llm-d/llm-d-infra/.github/workflows/reusable-stale.yml@main
    permissions:
      issues: write
      pull-requests: write
